
.header {
    display: block;
    height: 100vh;
    
}

.heading-box {
    z-index: 40;
    position: relative;
    position: fixed;
    width: 100%;

    top: 50%;
    transform: translateY(-50%);
}

.description {
    position: relative;
    display: block;
    z-index: 2;
}