$color-main-background: #fdfdfd;
$color-main-black: #121212;
$color-square: #6B12DB;
$color-light-gray: #C4C4C4;

$grid-width: 140rem;
$gutter-vertical: 10rem;
$gutter-vertical-small: 8rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 2.4rem;

