*,
*::after,
*::before {
    margin: 0 ;
    padding: 0 0.1rem 0 0.1rem;;
    box-sizing: inherit;

    @include respond(phone){
        padding: 0 0.3rem 0 0.3rem;
    }
}

html{
    //1 REM = 10PX.
    font-size: 62.5%; 

    @include respond(big-desktop) {
     
        font-size: 75%; //1rem = 12px, 12/16= 75%
    }

    @include respond(tab-land) {
       
           font-size: 56.25%; //1rem = 9px, 9/16= 56.25%
      
    }

    @include respond(tab-port) {
      
        font-size: 50%; //1rem = 8px, 8/16= 50%
  
    }

    @include respond(phone) {
  
        font-size: 43.75%; //1rem = 7px, 7/16= 43.75%
 
    }
}

body {
    box-sizing: border-box;
    background-color: $color-main-background;
}

